@import url("./tailwind.css");
@import url("./assets/font-family/style.css");
// @import url("./assets/style/default.scss");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sf500";
}
